{% extends 'master-withoutlogin.html' %}
{% load static  %}
{% block title %}Login{% endblock %}



{% block content %}
	<script>
		$(document).ready(function() {


		$.ajaxSetup({
			headers: {
			'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
			}
		});

		
		

		$('#password-input').blur(function() {
			var password_input = $(this).val();
			var password_valid = is_password_valid(password_input);
			var sel_pass_length = password_input.length;
			console.log(sel_pass_length);
			console.log(is_password_valid(password_input));
		});


		$("#eye").click(function() {
				// Get the password input field
				var passwordInput = $("#password-input");

				// Toggle the input type between password and text
				if (passwordInput.attr("type") === "password") {
					passwordInput.attr("type", "text");
				} else {
					passwordInput.attr("type", "password");
				}
        	});
	});
	</script> 
<div class="section-background">
    <div class="login-bgimg-div">
        <img src="{% static "images/counselling_bg1.png" %}" />
    </div>
    <div class="form-div-outermost">
        <div class=" form-outer-div">
            <p class="h5 text-center">Log in to Continue</p>
           




            <div class="form-div">
                <form method="POST" id="login_frm" name="login_frm" autocomplete="off">
                    {% csrf_token %}     
                    <div class="input-outer-div">
                        
                        <div class="label-div"><label>Username</label></div>
                        <div class="input-div">
                            <input type="text" id="username" name="username" class="form-control" placeholder="username" required="required">
                            
                        </div>
                    </div>
                    <div class="input-outer-div input-spacing">
                        <div class="label-div"><label>Password</label></div>
                        <div class="input-div password-container">
                            <input type="password" class="form-control pe-5 @error('password') is-invalid @enderror"
                                name="password" id="password-input" placeholder="Enter Password" value="" />
                            <i class="fa-solid fa-eye" id="eye"></i>
                           
                            <span class="invalid-feedback" role="alert" id="password_error">
                                
                            </span>
                           
                        </div>
                    </div>
                   

                    <div class="button-div">
                        <button id="login_btn" type="submit" name="login_btn">Log In</button>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
